body {
    height: 100vh;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
