<div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Log in to BudgetManager app</h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                    <ng-container *ngIf="!isLoading">Log in</ng-container>
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
                        <span class="sr-only"></span>
                    </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>